# Introduction to Pandas

In [70]:
import pandas as pd
df = pd.read_csv("wheather.csv")
df

        Day  Temperature  Wind Speed  Event
0  1/1/2017           32           6  Rian
1  1/2/2017           35           7  Sunny
2  1/3/2017           28           2   Snow
3  1/4/2017           24           7   Snow
4  1/5/2017           32           4   Rain
5  1/6/2017           32           2  Sunny

In [5]:
df.shape

(6, 4)

In [8]:
rows, columns = df.shape
print(rows)
print(columns)

6
4

In [9]:
df.head

<bound method NDFrame.head of         Day  Temperature  Wind Speed  Event
0  1/1/2017           32           6  Rian
1  1/2/2017           35           7  Sunny
2  1/3/2017           28           2   Snow
3  1/4/2017           24           7   Snow
4  1/5/2017           32           4   Rain
5  1/6/2017           32           2  Sunny>

In [10]:
df.tail

<bound method NDFrame.tail of         Day  Temperature  Wind Speed  Event
0  1/1/2017           32           6  Rian
1  1/2/2017           35           7  Sunny
2  1/3/2017           28           2   Snow
3  1/4/2017           24           7   Snow
4  1/5/2017           32           4   Rain
5  1/6/2017           32           2  Sunny>

In [11]:
df.head(2)

        Day  Temperature  Wind Speed  Event
0  1/1/2017           32           6  Rian
1  1/2/2017           35           7  Sunny

In [12]:
df.tail(2)

        Day  Temperature  Wind Speed  Event
4  1/5/2017           32           4   Rain
5  1/6/2017           32           2  Sunny

In [13]:
#Get Data Between Selected Rows
df[2:5]

        Day  Temperature  Wind Speed Event
2  1/3/2017           28           2  Snow
3  1/4/2017           24           7  Snow
4  1/5/2017           32           4  Rain

In [14]:
#Get Columns
df.columns

Index(['Day', 'Temperature', 'Wind Speed', 'Event'], dtype='object')

In [20]:
print(df.Day)
print(df.Event)

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: Day, dtype: object
0    Rian
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: Event, dtype: object

In [23]:
df[['Event','Day']]

   Event       Day
0  Rian   1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [71]:
df

        Day  Temperature  Wind Speed  Event
0  1/1/2017           32           6  Rian
1  1/2/2017           35           7  Sunny
2  1/3/2017           28           2   Snow
3  1/4/2017           24           7   Snow
4  1/5/2017           32           4   Rain
5  1/6/2017           32           2  Sunny

In [29]:
#Get Maximum/Minimum Value
df['Temperature'].max()

35

In [32]:
df['Temperature'].min()

24

In [34]:
#Get Avg/Mean value
df['Temperature'].mean()

30.5

In [36]:
df.describe()

       Temperature  Wind Speed
count     6.000000    6.000000
mean     30.500000    4.666667
std       3.885872    2.338090
min      24.000000    2.000000
25%      29.000000    2.500000
50%      32.000000    5.000000
75%      32.000000    6.750000
max      35.000000    7.000000

In [38]:
df[df.Temperature>=32]

        Day  Temperature  Wind Speed  Event
0  1/1/2017           32           6  Rian
1  1/2/2017           35           7  Sunny
4  1/5/2017           32           4   Rain
5  1/6/2017           32           2  Sunny

In [46]:
df[['Day','Temperature','Event']][df.Temperature==df['Temperature'].max()]

        Day  Temperature  Event
1  1/2/2017           35  Sunny

In [72]:
df

        Day  Temperature  Wind Speed  Event
0  1/1/2017           32           6  Rian
1  1/2/2017           35           7  Sunny
2  1/3/2017           28           2   Snow
3  1/4/2017           24           7   Snow
4  1/5/2017           32           4   Rain
5  1/6/2017           32           2  Sunny

In [73]:
#Change Index(For Temporary Use)
df.set_index('Day')

          Temperature  Wind Speed  Event
Day
1/1/2017           32           6  Rian
1/2/2017           35           7  Sunny
1/3/2017           28           2   Snow
1/4/2017           24           7   Snow
1/5/2017           32           4   Rain
1/6/2017           32           2  Sunny

In [74]:
#Change Index(For Change in Original)
df.set_index('Day', inplace=True)

In [75]:
df

          Temperature  Wind Speed  Event
Day
1/1/2017           32           6  Rian
1/2/2017           35           7  Sunny
1/3/2017           28           2   Snow
1/4/2017           24           7   Snow
1/5/2017           32           4   Rain
1/6/2017           32           2  Sunny

In [80]:
#Reset Index
df.reset_index(inplace=True)

In [85]:
df

   index       Day  Temperature  Wind Speed  Event
0      0  1/1/2017           32           6  Rian
1      1  1/2/2017           35           7  Sunny
2      2  1/3/2017           28           2   Snow
3      3  1/4/2017           24           7   Snow
4      4  1/5/2017           32           4   Rain
5      5  1/6/2017           32           2  Sunny

In [88]:
df.set_index('Event',inplace=True)
df

       index       Day  Temperature  Wind Speed
Event
Rian       0  1/1/2017           32           6
Sunny      1  1/2/2017           35           7
Snow       2  1/3/2017           28           2
Snow       3  1/4/2017           24           7
Rain       4  1/5/2017           32           4
Sunny      5  1/6/2017           32           2

In [89]:
df.loc['Snow']

       index       Day  Temperature  Wind Speed
Event
Snow       2  1/3/2017           28           2
Snow       3  1/4/2017           24           7

# Different Ways of Creating Data-Frame

To read an excel file

In [97]:
df = pd.read_excel("wheatherx.xlsx")
df

         Day  Temperature  Wind Speed  Event
0 2017-01-01           32           6  Rian
1 2017-01-02           35           7  Sunny
2 2017-01-03           28           2   Snow

Create Data Frame Using Dictonary

In [99]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

Create Data Frame using List

In [100]:
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]
df = pd.DataFrame(weather_data, columns=("Day","Temperature","Windspeed","Event"))
df

        Day  Temperature  Windspeed  Event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

Create Data Frame using Lists of Dictionary

In [101]:
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    
]
pd.DataFrame(weather_data)
df

        Day  Temperature  Windspeed  Event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

# Read/Write CSV, Excel File

1) CSV File:

In [125]:
df = pd.read_csv("stock_data.csv",na_values={
    'eps':["not available","n.a."],
    'revenue':["not available","n.a.",-1],
    'people':["not available","n.a."]
})
df

  tickers    eps  revenue price         people
0   GOOGL  27.82     87.0   845     larry page
1     WMT   4.61    484.0    65            NaN
2    MSFT  -1.00     85.0    64     bill gates
3    RIL     NaN     50.0  1023  mukesh ambani
4    TATA   5.60      NaN  n.a.     ratan tata

In [127]:
df.to_csv('new.csv',index=False)

2) EXCEL File:

In [135]:
def convert_people_cell(cell):
    if cell=='n.a.':
        return 'sam walton'
    return cell

def convert_eps_cell(cell):
    if cell=='not available':
        return None
    return cell


df = pd.read_excel("stock_datax.xlsx",converters={
    'people':convert_people_cell,
    'eps': convert_eps_cell
})

df

  tickers    eps  revenue price         people
0   GOOGL  27.82       87   845     larry page
1     WMT   4.61      484    65     sam walton
2    MSFT  -1.00       85    64     bill gates
3    RIL     NaN       50  1023  mukesh ambani
4    TATA   5.60       -1  n.a.     ratan tata

In [142]:
df.to_excel("new.xlsx",index=False,startrow=1,startcol=1)

3) Excel writer Class:

In [143]:
df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})

df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})

In [144]:
with pd.ExcelWriter('stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name="stocks")
    df_weather.to_excel(writer, sheet_name="weather")