# EDA SET-1

LOADING LIBRARIES:

In [29]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from scipy.stats import trim_mean

LOADING DATA:

In [30]:
data = pd.read_csv("state.csv")

# Check the type of data
print("Type: ", type(data), "\n\n")

#Print top 10 Records
print("Head: ", data.head(10), "\n")

#print last 10 Records
print("Tail: ", data.tail(10))

Type:  <class 'pandas.core.frame.DataFrame'>


Head:           State  Population  Murder.Rate Abbreviation
0      Alabama     4779736          5.7           AL
1       Alaska      710231          5.6           AK
2      Arizona     6392017          4.7           AZ
3     Arkansas     2915918          5.6           AR
4   California    37253956          4.4           CA
5     Colorado     5029196          2.8           CO
6  Connecticut     3574097          2.4           CT
7     Delaware      897934          5.8           DE
8      Florida    18801310          5.8           FL
9      Georgia     9687653          5.7           GA

Tail:              State  Population  Murder.Rate Abbreviation
40   South Dakota      814180          2.3           SD
41      Tennessee     6346105          5.7           TN
42          Texas    25145561          4.4           TX
43           Utah     2763885          2.3           UT
44        Vermont      625741          1.6           VT
45       Virginia     8001024          4.1           VA
46     Washington     6724540          2.5           WA
47  West Virginia     1852994          4.0           WV
48      Wisconsin     5686986          2.9           WI
49        Wyoming      563626          2.7           WY

ADDING COLUMN TO THE DATAFRAME:

In [31]:
data['Population In Million'] = data['Population']/1000000

#Changed Data
print(data.head())

        State  Population  Murder.Rate Abbreviation  Population In Million
0     Alabama     4779736          5.7           AL               4.779736
1      Alaska      710231          5.6           AK               0.710231
2     Arizona     6392017          4.7           AZ               6.392017
3    Arkansas     2915918          5.6           AR               2.915918
4  California    37253956          4.4           CA              37.253956

DATA DESCRIPTION:

In [32]:
data.describe()

         Population  Murder.Rate  Population In Million
count  5.000000e+01    50.000000              50.000000
mean   6.162876e+06     4.066000               6.162876
std    6.848235e+06     1.915736               6.848235
min    5.636260e+05     0.900000               0.563626
25%    1.833004e+06     2.425000               1.833004
50%    4.436370e+06     4.000000               4.436369
75%    6.680312e+06     5.550000               6.680312
max    3.725396e+07    10.300000              37.253956

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   State                  50 non-null     object
 1   Population             50 non-null     int64
 2   Murder.Rate            50 non-null     float64
 3   Abbreviation           50 non-null     object
 4   Population In Million  50 non-null     float64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.1+ KB

RENAMING A COLUMN HEADING:

In [34]:
# Rename column heading as it 
# has '.' in it which will create
# problems when dealing functions
data.rename(columns={'Murder.Rate':'MurderRate'}, inplace = True)

list(data)

['State', 'Population', 'MurderRate', 'Abbreviation', 'Population In Million']

CALCULATING MEAN:

In [36]:
population_mean = data.Population.mean()
print("Population Mean: ", population_mean)

murderrate_mean = data.MurderRate.mean()
print("Murder Rate Mean: ",murderrate_mean)

Population Mean:  6162876.3
Murder Rate Mean:  4.066

TRIMMED MEAN:

In [40]:
Population_TM = trim_mean(data.Population, 0.1)
print("Popolation Trim Mean: ", Population_TM)

Murder_TM = trim_mean(data.MurderRate, 0.1)
print("Murder Rate Trim Mean: ", Murder_TM)

Popolation Trim Mean:  4783697.125
Murder Rate Trim Mean:  3.9450000000000003

WEIGHTED MEAN:

In [42]:
murderrate_WM = np.average(data.MurderRate, weights = data.Population)
print("Weighted Murder Rate Meam: ", murderrate_WM)

Weighted Murder Rate Meam:  4.445833981123393

MEDIAN:

In [43]:
Population_median = data.Population.median()
print ("Population median : ", Population_median)
  
MurderRate_median = data.MurderRate.median()
print ("\nMurderRate median : ", MurderRate_median)

Population median :  4436369.5

MurderRate median :  4.0